/* Primero: Importaciones externas */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/* Segundo: Tailwind */
@import "tailwindcss";

/* Tercero: Configuración del tema */
@theme {
  --font-roboto: "Roboto", sans-serif;
  
  /* Tu paleta elegante */
  --color-gris-detalle: #7E8285;
  --color-fondo-claro: #F3F3FC;
  --color-azul-principal: #8CAACF;
  --color-negro-puro: #000000;
}

/* Cuarto: Estilos base */
:root {
  --background: #F3F3FC;
  --foreground: #000000;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: "Roboto", sans-serif; /* Roboto por defecto */
  -webkit-font-smoothing: antialiased;
}

/* Scrollbars minimalistas para que no arruinen el diseño */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}